/* VideoPlayer.css */

.video-player-container {
    width: 80%;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #222; /* Dark background */
}

.react-player {
    position: relative;
    padding-top: 56.25%;
}

.react-player > div {
    position: absolute;
    top: 0;
    left: 0;
}

.controls {
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: space-around; /* Distribute controls evenly */
    color: white;
}

.time-display {
    font-size: 14px;
}
.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background: #000;
}

.fullscreen .react-player {
    height: 100vh !important;
}

.fullscreen .controls {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background:  rgb(127,126,126, 0.9);
    padding: 15px;
}


.fullscreen-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10000;
    cursor: pointer;
}
.controls {
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.controls.hidden {
    opacity: 0;
    pointer-events: none;
}
